html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: black;
  height: 100vh;
}

.App div.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100rem;
  background-color: grey;
  border-radius: 15px;
  border: 5px outset white;
}

/* Login Menu */

.loginForm {
  background-color: blue;
  width: 20%;
  height: auto;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.398);
}

.loginForm label {
  font-weight: bolder;
  color: royalblue;
}

/* Main Menu */
.main-menu {
  background-color: royalblue;
  height: 35rem;
  width: 70rem;
  display: block;
  padding: 2rem;
  border-radius: 15px;
  border: 1rem solid black;
  position: absolute;
  top: 1%;
}

/* Operations Menu */
.operations-container {
  width: 100%;
  height: auto;
}

.operations-list {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20%;
  padding: 0;
  margin: 0;
}

.operations-list > li {
  list-style: none;
  background-color: black;
  height: 6rem;
  border-radius: 15px;
  border: 3px outset rgba(0, 0, 0, 0.715);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.398);
  cursor: pointer;
  width: 25rem;
  display: flex;
  margin: 0.5rem 0 0.5rem 0;
}

.operations-list > li:nth-of-type(even) {
  flex-direction: row-reverse;
}
.operations-list > li:hover {
  background-color: rgba(65, 105, 225, 0.632);
}

.operations-list > li div.number-box {
  width: 4rem;
  height: 4rem;
  background-color: white;
  border: 3px royalblue solid;
  display: flex;
  align-self: center;
  margin: 1rem;
  border-radius: 15px;
  justify-content: center;
}

.operations-list > li div.number-box span {
  font-size: 3rem;
  font-weight: bold;
  align-self: center;
}

.operations-list > li div.operation-box {
  align-self: center;
}

.operations-list > li div.operation-box a {
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  text-transform: capitalize;
}

/* Keyboard/Keypad */

div.wrapper-keyboard {
  position: fixed;
  top: 35rem;
  margin-top: 0.6rem;
}

div.keyboard {
  display: flex;
  position: relative;
}

div.numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

div.numbers button.keypad-btn {
  width: 5rem;
  height: 5rem;
  border-radius: 15px;
  border: 2px outset black;
  font-size: 3rem;
  font-weight: bold;
  margin: 0.3rem;
  background-color: white;
}

div.numbers button.keypad-btn:hover {
  background-color: rgba(255, 255, 255, 0.854);
  border: inset;
}

div.actions {
  display: grid;
}

div.actions div.sidepad-btn {
  width: 15rem;
  height: 5rem;
  border-radius: 10px;
  border: 2px outset black;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.3rem 0.3rem 0.3rem 1rem;
  background-color: white;
  text-align: center;
}

div.actions div.sidepad-btn:hover {
  background-color: rgba(255, 255, 255, 0.854);
  border: inset;
}

div.actions div.sidepad-btn span.sidepad-content {
  display: flex;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
  cursor: pointer;
}
div.actions div.sidepad-btn span.sidepad-symbol {
  background-color: red;
  font-size: 3rem;
  display: flex;
  width: 40%;
  height: 4.2rem;
  border-radius: 10px;
  border: 2px inset black;
  margin-right: 10px;
  justify-content: center;
}

div.actions div.sidepad-btn span.sidepad-symbol {
  background-color: rgba(255, 0, 0, 0.875);
}

div.actions div.sidepad-btn:nth-of-type(2) span.sidepad-symbol {
  background-color: yellow;
}

div.actions div.sidepad-btn:nth-of-type(2):hover span.sidepad-symbol {
  background-color: rgba(255, 255, 0, 0.875);
}

div.actions div.sidepad-btn:nth-of-type(3) span.sidepad-symbol {
  display: none;
}

div.actions div.sidepad-btn:nth-of-type(4) span.sidepad-symbol {
  background-color: green;
}

div.actions div.sidepad-btn:nth-of-type(4):hover span.sidepad-symbol {
  background-color: rgba(0, 128, 0, 0.875);
}

/* SideScren Keys */

.key-wrapper,
.key-wrapper-left {
  position: fixed;
  right: 0;
  left: 11%;
  top: 4%;
  margin: 1rem;
  height: auto;
  width: fit-content;
}

.key-wrapper-left {
  right: 0%;
  left: 79%;
  top: 4%;
}

@media screen and (min-width: 2000px) {
  .key-wrapper {
    left: 20%;
    top: 3%;
  }

  .key-wrapper-left {
    left: 73%;
    top: 3%;
  }
}

.key-wrapper .screen-key,
.key-wrapper-left .screen-key-left {
  width: 8rem;
  height: 6rem;
  margin: 1rem;
  background-color: white;
  border: 3px outset black;
  border-radius: 10px;
  cursor: pointer;
}

.key-wrapper .screen-key:hover,
.key-wrapper-left .screen-key-left:hover {
  background-color: rgba(255, 255, 255, 0.87);
  border: 3px inset black;
}

/* .key-wrapper .screen-key .screenkey-symbol {
  font-size: 4rem;
  display: flex;
  justify-content: end;
  padding-right: 1rem;
} */

/* Operations Menu */

/* Operations Request */
div.title-container {
  text-align: center;
  margin-bottom: 4rem;
}
div.title-container > h1 {
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
}

div.request-container .lower-request {
  margin-top: 1rem;
}

div.request span > p,
div.lower-request div > h3 {
  border-bottom: 2px solid rgb(5, 164, 164);
}
div.request-container {
  background-color: black;
  color: white;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 15px;
  height: 20rem;
}
div.request-container .upper-request .inner-container {
  margin: 2px;
}

div.request-container .upper-request .inner-container:nth-of-type(4n) {
  margin-right: 30px;
}

div.request-container .lower-request .inner-container {
  margin: 2px;
}

div.request-container .lower-request .inner-container:nth-of-type(3n + 2) {
  margin-right: 30px;
}

div.request-container .upper-request .input-style {
  width: 2rem;
  height: 3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 10px;
}

div.request-container .lower-request .input-style {
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 10px;
}

div.request-container .lower-request .inner-container > span {
  font-size: 3rem;
  font-weight: bold;
  margin-right: 10px;
}

.warning-container > h5 {
  text-align: end;
  color: white;
  margin: 0.5rem;
  padding-right: 4rem;
}
