@import "./allMenus.css";
@import "./ui.css";
@import "./transfer.css";
@import "./payment.css";
@import "./deposit.css";

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: black;
  height: 100vh;
}

.App div.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100rem;
  background-color: grey;
  border-radius: 15px;
  border: 5px outset white;
}
